* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-inner {
  background: transparent;
  border: none;
}
body {
  background: #262044;
}
.navbar-header a:last-child {
  font-weight: 900;
}

.collapse .nav li a,
.container .navbar-header .navbar-brand {
  color: #fff;
}

.navbar-btn {
  background: #fc5a41;
  border: none;
  color: #fff;
  font-weight: 700;
}
